body {
  margin: 0;
  font-family: "comic sans ms","Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(weather.jpg);
  background-size: cover;
}
.form-container{
  height: 94vh;
  padding: 0px  80px 10px;
  margin: auto;
  background-color: rgb(0,0,0,0.6);
  border-radius: 20px;
  overflow: hidden;
}
.logo{
  
  background-image:url(Weather-PNG-Photos.png) ;
  background-size:cover ;
  height: 27vh;
  z-index: 2;
}
input[type="text"]{
  border: 1px solid #ddd;
  display: block;
  padding:5px 10px;
  background-color: transparent;
  color: #fff;
  margin: 30px auto;
  border-radius: 0 20px 0 18px;
  
}
input[type="text"]:first-child{
  margin: 10px auto 20px;
}
button{
  padding: 10px ;
  border-radius: 0 18px 0 18px;
  border: 1px solid #ddd;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-family: "comic sans ms";
}
button:hover ,input:hover{
  background-color: skyblue;
  transition: 2s;
  color: black  ;
}

p{
  border: 0;
  border-bottom: 1px solid #ddd;
  color: #ddd;
  padding: 5px 0;
  cursor: pointer;
}
label{
  color: gray;
}